@page
@model RazorPagesBook105.Pages.Borrows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrow.serialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrow.serialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrow.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrow.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrow.readerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrow.readerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrow.loanDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrow.loanDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrow.returnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrow.returnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Borrow?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
